$header-bg-color:#9e589a !default;
$header-text-color:#ea6800 !default;
$search-btn-color:#fe7900 !default;
$white: #fff !default;
$black: #000 !default;
$dark-red: #941713 !default;
$red: #ff3846 !default;
$value-red:#ff5b65!default;
$orange: #e24e0e !default;
$green: #114a44 !default;
$yellow: #ffd500 !default;
$blue: #0275d8 !default;
$sky-blue: #3754e4 !default;
$header-blue: #34098b !default;
$dark-blue: #22263f !default;
$teal: #5bc0de !default;
$pink: #ff5b77 !default;
$purple: #613d7c !default;
$swiper-color: #f85058 !default;
$google-color:#db3236!default;
$twitter-color:#38A1F3!default;
$facebook-color:#4267b2!default;
$hover-blue:#51a6dc!default;
$bg-button:#0069d9 !default;
$border-button:#0062cc !default;
$form-type-text:#101113!default;
$background-text:#3f5d63!default;
$point-color:#2f73d8!default;
$head-color:#eeeeee!default;